* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #c5c5c5;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.3rem;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 0.5rem 3rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
}
nav {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

input {
    margin: 3rem;
}

input[type="file"]{
    display: none;
    cursor: pointer;
}

input[type="submit"]{
    padding: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid #979797;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #1a62fd;
    border: 1px solid #1a62fd;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

table {
    width: 500px;
    margin: 5.5rem 0 2rem 0;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    padding: 5rem;
    margin: 2rem;
    width: 100%;
    border-bottom: 1px solid #000000;
}

tr {
    display: table-row;
}

th {
    display: table-cell;
}

tbody {
    padding: 2rem;
    margin: 2rem;
    text-align: center;
}


.description_label {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.upload-image {
    display: flex;
    justify-content: center;
}

.label-image{
    border: 1px solid #c9c9c9;
    padding: 0.7rem 9rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    margin: 3rem 0 0 0;
    cursor: pointer;
}
.label-image:hover{
    border: 1px solid #1a62fd;
    background-color: #fdfdfd;
    color: #1a62fd;
}

.output{
    border: 1px solid #c5c5c5;
    width: 600px;
    padding: 2rem;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.save{
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    background-color: #1a62fd;
    color: #f0f0f0;
    border: none;
}
.save:hover{
    background-color: #1873fcea;
    transition: 0.3s;
}

.row-center{
    display: flex;
    align-items: center;
}

.collumn-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-row-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-active{
    color: #1a62fd;
}